{% load i18n %}
{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>ShortShort</title>
		<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
		<!-- meta tags -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="theme-color" content="#FFF">
		<!-- script -->
		<script>
			function short(){
				var xhttp = new XMLHttpRequest();
				xhttp.onreadystatechange = function() {
					if (this.readyState == 4 && this.status == 200) {
					// Typical action to be performed when the document is ready:
					document.getElementById("link").innerHTML = "https://shortshort.pythonanywere.com/" + xhttp.responseText;
					document.getElementById("link").style.visibility = "visible"
					document.getElementById("link").href = "https://shortshort.pythonanywhere.com/" + xhttp.responseText;
					}
				};
				xhttp.open("GET", "/api/create/?q=" + document.getElementById("shurl").value, true);
				xhttp.send();
			}
		</script>
	</head>
	<body style="width: 100vw;background-repeat: no-repeat;font-family: Montserrat, sans-serif;max-width: 500px;vertical-align: middle;margin-left: auto;margin-right: auto;"> 
		<h1 style="text-align: center;">ShortShort</h1> 
		<div> 
			<input type="url" placeholder='{% trans "Url to short" %}' id="shurl" style="font-size: 20px; width: 69%;"> 
			<input type="submit" value='{% trans "Short!" %}' onclick="short()" style="font-size: 20px;width: 28%;"> 
		</div>
		<br>
		<div style="text-align: center; font-size: 20px; visibility: hidden;">
			<a href="#" id="link">#</a>
		</div>
		<a style="text-decoration: none; color: #000;" href="https://shortshort.pythonanywhere.com/4">&ensp;<img width="15px" height="15px"src="{% static "tg.svg" %}" alt="Telegram"></img>&ensp;{% trans "Telegram bot"%}</a><br>
		<a href="https://shortshort.pythonanywhere.com/5" style="text-decoration: none; color: #000;"><img width="30px" height="30px" src="{% static "vk.svg" %}" alt="Telegram"></img>{% trans "VK bot"%}</a></br>
		<a href="https://shortshort.pythonanywhere.com/2" style="text-decoration: none; color: #000;">&ensp; {% trans "Source code"%}</a>
	</body>
</html>