{% load i18n %}
{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>ShortShort</title>
		<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
		<script src="{% static 'short.js' %}"></script>
		<style>
			.button {
				max-width: 25px;
				cursor: pointer;
			}
		</style>
		<!-- meta tags -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="theme-color" content="#FFF">
	</head>
	<body style="width: 100vw;background-repeat: no-repeat;font-family: Montserrat, sans-serif;max-width: 500px;vertical-align: middle;margin-left: auto;margin-right: auto;" onload="onload()">
		<header><h1 style="text-align: center;">ShortShort</h1></header>
		<label for="link">{% trans "Link"%}</label>
		<input type="url" id="link" style="width: 90.72%">
		<button onclick="short()" style="margin-left: 50%; margin-bottom: 8px">{% trans "Short"%}</button>
		<div id="res" style="margin-bottom: 16px; display: none">
			<a id="out"></a>
			<a id="copy" onclick="copy()"><img class="button" src="{% static "file.svg" %}" alt="Copy" title="Copy"></a>
			<a id="share" onclick="share()"><img class="button" src="{% static "share.svg" %}" alt="Share" title="Share"></a>
		</div>
        <div id="error" style="display: none">{% trans "⚠️  Please, submit a valid link"%}</div>
		<footer>
			<a style="text-decoration: none; color: #000;" href="https://t.me/shortshort_link_bot">&ensp;<img width="15px" height="15px" src="{% static "tg.svg" %}" alt="Telegram"></img>{% trans "Telegram bot"%}</a><br>
			<a href="https://vk.com/shortshortbot" style="text-decoration: none; color: #000;"><img width="30px" height="30px" src="{% static "vk.svg" %}" alt="Vk"></img>{% trans "VK bot"%}</a></br>
			<a href="https://github.com/turleo/shortshort" style="text-decoration: none; color: #000;">&ensp; {% trans "Source code"%}</a>
			<br><br>
			Icons from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
		</footer>
	</body>
</html>
