{% load i18n %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% trans "Link had not found 😢" %}</title>
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
		<!-- meta tags -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="theme-color" content="#FFF">
    </head>
    <body style="width: 100vw;background-repeat: no-repeat;font-family: Montserrat, sans-serif;max-width: 250px;vertical-align: middle;margin-left: auto;margin-right: auto;">
        <h1>{% trans "🚫 Not Found" %}</h1>
        <p><small><small>404</small></small></p>
        <p>
            {% trans "Sorry, you got wrong or corrupted link" %}
        </p>
    </body>
</html>